// Specific CSS for your home-page
body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

// body {
//   overflow-y: hidden; /* Hide vertical scrollbar */
//   overflow-x: hidden; /* Hide horizontal scrollbar */
//   }

#home {
  z-index: 1;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  // text-align: center;
  // justify-content: center;
}

.banner-video {
  z-index: 2;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.home-navbar {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-top: 3rem;
  // margin-bottom: 4rem;

  .logo-navbar img{
    height: 50px;
    width: auto;
  }

  a {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
}

.banner-description{
  z-index: 3;
  width: 70%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 40%;


  .home-pitch {

    h1 {
      margin-bottom: 4rem;
      font-family: 'Open Sans', sans-serif;
      font-size: 60px;
    }
  }

  h4 {
    font-family: 'Roboto Mono', monospace;
    font-size: 17px;
  }

  a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 2rem;
    font-weight: bold;
  }

  .home-link{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .btn-start{
      color: white;
      background-color: #CB2A27;
      margin-right: 4rem;
    }
    .btn-start:hover{
      background-color: rgba(203, 42, 39, 0.7);
      margin-bottom: 0.3rem;
      transition: ease 0.5s;
    }

    .btn-infos {
      color: black;
      background-color: white;
    }

    .btn-infos:hover{
      background-color: rgba(255, 255, 255, 0.7);
      margin-bottom: 0.3rem;
      transition: ease 0.5s;
    }
  }
}

#infos {
  z-index: 1;
  height: 100vh;
  display: flex;
}

#infos-target {
  z-index: 3;
  min-height: 200vh;
  height: fit-content;
  background-color: black;
  padding-top: 6rem;
  position: relative;

}

.info-wrapper {
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  // position: absolute;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // flex-direction: column;
  // width: 70%;

  h2 {
    width: min-content;
    color: black;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 2rem;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 2rem;
  }

  h1 {
    width: 50%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 6rem;
  }
}

.info-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // justify-content: space-between;

  .box-description {
    color: white;
    width: 45%;
    height: auto;
    min-height: 15rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
  .box-description:hover {
    background: linear-gradient(rgb(30, 30, 30),rgb(10, 10, 10));
  }

  h6 {
    top: 10%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 24px;
  }
  p {
    color: rgba(255, 255, 255, 0.5);
    width: 70%;
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    font-size: 17px;
    margin-bottom: 4rem;
    text-align: center;
  }
}

.container-bot {
  position: absolute;
  bottom: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // height: auto;
  background-color: black;
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;

  .btn-up {
    position: absolute;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 2rem;
    font-weight: bold;
    color: black;
    background-color: white;
    text-decoration: none;
  }

  .btn-up:hover{
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 0.3rem;
    transition: ease 0.5s;
  }
}
