// Import page-specific CSS files here.

.index-container {
  margin-top: 2rem;
  display: flex;
  width: 90vw;
  margin: auto;
}

.bounty-container{
  width: 70vw;
}

.filter-container {
  opacity: 0;
  // transition: 5s cubic-bezier(0.5, 0, 0, 1);
  transform: translateX(-10vw);
  transition-duration: 2.5s;
  transition-property: opacity, transform;
}

.bounty-card.reveal {
  opacity: 0;
  // transition: 5s cubic-bezier(0.5, 0, 0, 1);
  transform: translateY(10vh);
  transition-duration: 2s;
  transition-property: opacity, transform;
}

.filter-container {
  // flex: 0 0 20vw;
  position: sticky;
  top: 15vh;
  width: 15vw;
  height: 70vh;
  // margin-top: 3em;
  background: #6f42c1;
  border-radius: 8px;
  border-right: #7101ff solid 1px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 1.5rem;
  // margin-left: 2rem;
  p {
    margin: 0;
    font-size: 0.7rem;
    color: white;
  }
  .filter-box {
    // background-color: #CB2A27;
    // color: white;
    // border-radius: 3rem;

  }
  .difficulty-box {
    display: flex;
    flex-direction: column;
    border: #4CAF50 solid 1px;
    border-radius: 8px;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .difficulty-level {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn-filter {
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
  }
}

.searchbar {
  justify-content: center;
  align-items: center;
  margin:auto;
}

.bounties-card {

}

.tag-item {
  margin: 0.5em;
}

.card-info-center {
  color:white;
  font-size: 10px;
  text-decoration: none;
}

.icongit {
  color: white;
  font-size: 20px;
  margin-right: 10px;
}

.button-create {
  color: white;
  // font-size: 20px;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  // padding: 10px 24px;
  text-align: center;
  text-decoration: none;
}
