// Import page-specific CSS files here.
@import "home";

.index-container {
  display: flex;
}

.bounty-container{
  width: 70vw;
}

.filter-container {
  // flex: 0 0 20vw;
  position: sticky;
  top: 15vh;
  width: 20vw;
  height: 70vh;
  // margin-top: 3em;
  // background: rgba(255, 255, 255, 0.04);
  // border-radius: 0px 1rem 1em 0px;
  border-right: #7101ff solid 1px;
  padding: 2rem;
  margin-right: 3rem;
  margin-left: 2rem;

  .filter-box {
    background-color: #CB2A27;
    color: white;
    border-radius: 3rem;
  }
}

// h2 {
//   font-size: 45px;
//   font-weight: 700;
//   color: #E4E0DE;
//   margin-top: 50px;
//   margin-bottom: 40px;
// }

.searchbar {
  justify-content: center;
  align-items: center;
  margin:auto;
}

.bounties-card {

}

.tag-item {
  margin: 0.5em;
}

.card-info-center {
  color:white;
  font-size: 10px;
  text-decoration: none;
}

.icongit {
  color: white;
  font-size: 20px;
  margin-right: 10px;
}


// h4 {
//   color: white;
//   font-size: 25px;
//   font-weight: 700;
//   padding: 1em;
// }

// h6 {
//   color: white;
//   font-size: 18px;
// }

// p {
//   color:#D3D3D3;
//   font-size: 18px;
// }

// h5 {
//   color: white;
//   font-size: 18px;
// }

.button-create {
  color: white;
  // font-size: 20px;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  // padding: 10px 24px;
  text-align: center;
  text-decoration: none;
}
