.new_bounty {
  p {
    color: white;
    margin-bottom: 0px;
  }
}

.pimp{

  background-image: radial-gradient(circle, rgba(113,1,255,0.1) 0%, rgba(199,156,255,0.1) 100%);
  color: white;
  background-color: #110951;
  margin: 30px auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.create-wrapper{
display:flex;
}


