<div id="home">
  <div class="banner-video">
    <video autoplay="autoplay" muted="muted" loop="loop" class="banner-video">
      <source src="https://static.videezy.com/system/resources/previews/000/044/460/original/Comp_1_6_1.mp4">
    </video>
  </div>
  <div class="home-pitch">
    <h4 class="text-center mb-3">Become a <span class="green">Code Hunter</span></h4>
    <div class="pitch">
      <div class="pitch-text">
        <h1 class="mb-3"> <span class="green">Solve bugs</span>, receive experience and get paid</h1>
        <h5 class="">Why use <span class="green">Code Hunter?</span></h5>
      </div>
      <div class="pitch-button">
        <a href="/bounties" class="button text-center mt-3">Launch app</a>
        <a href="#" class="button-white text-center mt-3">Learn more</a>
      </div>
    </div>
  </div>
</div>



<div class="moving-card">

  <div class="card-height" data-controller="scroll-reveal" data-scroll-reveal-threshold-value="0.5">
    <div class="d-flex flex-column">
      <div data-scroll-reveal-target="item" class="card-pink left reveal">
        <div class="card_icon">
          <i class="fa-brands fa-ethereum"></i>
        </div>
        <h2 class="card__title">Earn up to $500/month</h2>
        <div class="d-flex justify-content-center card__apply">
          <a class="card_link" href="/bounties">Start earning<i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="card-height justify-content-end" data-controller="scroll-reveal" data-scroll-reveal-threshold-value="0.5">
    <div class="d-flex flex-column backback" style="margin-top: 50px">
      <div  data-scroll-reveal-target="item" class="card-pink right reveal">
        <div class="card_icon">
          <i class="fa-solid fa-stopwatch"></i>
        </div>
        <h2 class="card__title">+60% faster responses</h2>
        <p class="d-flex justify-content-center card__apply">
        <a class="card_link" href="/bounties">Fast bug fix <i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
    </div>
  </div>

  <div class="card-height" data-controller="scroll-reveal" data-scroll-reveal-threshold-value="0.5">
    <div class="d-flex flex-column backback" style="margin-top: 50px">
      <div data-scroll-reveal-target="item" class="card-pink left reveal">
        <div class="card_icon">
          <i class="fa-solid fa-bullseye"></i>
        </div>
        <h2 class="card_title">Average transaction fee of 0.001 $</h2>
        <p class="d-flex justify-content-center card__apply">
          <a class="card_link" href="/bounties">Put up a bounty<i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
    </div>
  </div>

</div>
<div id="home-will">
  <div class="banner-description">
  </div>

  <div class="d-flex flex-column" style="margin-top:100px">
    <a href="/bounties" class="button">Launch app</a>
  </div>

  <h5>How does it <span class="green">work?</span></h5>
  <div class="d-flex justify-content-around">
    <div class="container">
      <div class="card1">
          <div class="face face1">
            <div class="content">
              <h3>Step 1</h3>
            </div>
          </div>
          <div class="face face2" style="padding-bottom: 0px !important; padding-top: 100px !important;">
            <div class="content">
              <p>Define your bug with the coding language(s) and difficulty</p>
            </div>
          </div>
        </div>
    </div>
    <div class="container">
      <div class="card1">
          <div class="face face1">
            <div class="content">
              <h3>Step 2</h3>
            </div>
          </div>
          <div class="face face2" style="padding-bottom: 0px !important; padding-top: 100px !important;">
            <div class="content">
              <p>Set the price that you're willing to pay for the solution</p>
            </div>
          </div>
        </div>
    </div>
    <div class="container">
        <div class="card1">
          <div class="face face1">
            <div class="content">
              <h3>Step 3</h3>
            </div>
          </div>
          <div class="face face2" style="padding-bottom: 0px !important; padding-top: 100px !important;">
            <div class="content">
              <p>Check the proposed solutions and pick the right one</p>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="container-bot">
    <%= link_to "To top", "#", class:"button" %>
  </div>
</div>


  <%# <div class="footer">
  <p>Made with 💛 by the bug hunters team</p>
  <%# <%= link_to "FAQ", new_user_session_path %>
