.container-chatroom {
  color: black;
  background: white;
  // margin-top: 9px;
  // height: calc(100vh - 75px);
  height: 70vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  position: fixed;
  bottom: 0;
  right: 1vw;



  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
    font-size: 14px;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
    font-size: 9px;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    // padding: 1rem;

    .form-group {
      margin-bottom: 0 !important;
    }
  }
  btn-primary {
    top: 0;
    padding: 0;
  }
}
