.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
<<<<<<< HEAD
  .btn-flat {
    font-size: 12px;
    top: 0;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  textarea#message_content::placeholder {
    font-size: 12px;
  }

  .form-control {
    font-size: 12px;
  }

  .collapsing {
    transition: none;
  }
}

.card-chatroom{
  height: 70vh;
  width: auto;
  max-width: 100vw;
  z-index: 2;
  padding-right: 0.5rem;
}


.front-container {
  z-index: 2;
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  bottom: 0;
  right: 0;
}
.back-container {
  // z-index: 1;
=======
>>>>>>> 86dd386689c538c46abdfc572c9f341f74954b22
}
