.form{
  margin-top: 60px;
  padding: 15px;
}

.form-img {
  height: 10em;
  width: 100%;

}

.card-form {
  background-image: radial-gradient(rgb(113, 1, 255), rgb(199, 156, 255));
  color: white;
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;
}
