
.leaderboard-card {
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border: #6f42c1;
    background-color: #6f42c1;
    border-radius: 8px;
    margin-top: 1em;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    vertical-align: middle;
    color:white;

    p {
      margin-bottom: 0;
    }
  }


  .score-board{
    margin-top:1.1em;
    background-color: #6f42c1;
    border-radius: 8px;
    padding: 4em;
    h3 {
      margin-bottom: 2em;
    }
  }

  .w-40 {
    width: 40%;
  }
