body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.navbar-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  top: 2rem;
}

.home-navbar {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 80%;
  height: 10vh;
  #userArea{
    color: #02BE6E;
  }

  ul {
    margin: 0;
  }

  .logo-navbar img{
    height: 8vh;
    width: auto;
  }

  .nav-link {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
  }
  .nav-link:hover {
    color: #02BE6E;
  }
}

.nav-item {
  padding-right: 1rem;
}

.green-create {
  background-color: #06BE6D;
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
  color: white;
  font-size: 0.7rem;
  margin-bottom: 0rem;
  border: none;
}

.green-create:hover {
  opacity: 0.8;
  color: white;
}
