body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}



.navbar-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  top: 2rem;
}

.home-navbar {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 80%;
  height: 10vh;

  .nav-item-account p{
    color: #02BE6E;
    font-size: 0.7rem;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-right: 1rem;
  }

  ul {
    margin: 0;
  }

  .logo-navbar img{
    height: 8vh;
    width: auto;
  }

  .nav-link {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
  }
  .nav-link:hover {
    color: #02BE6E;
  }
}

.nav-item {
  padding-right: 1rem;
}

.green-create {
  background-color: #06BE6D;
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
  color: white;
  font-size: 0.7rem;
  margin-bottom: 0rem;
  border: none;
}

.green-create:hover {
  opacity: 0.8;
  color: white;
}

.notification-ui p:after {
  display: none;
}

.notification-ui_dd-header{
  background-color: #179a6a !important;
}

.dropdown-menu{
  background-color: #179a6a !important;
}

.notification-ui_icon {
  position: relative;
}

.notification-ui_icon .unread-notification {
  display: inline-block;
  height: 7px;
  width: 7px;
  border-radius: 7px;
  background-color: #66BB6A;
  position: absolute;
}

@media (min-width: 900px) {
  .notification-ui_icon .unread-notification {
      left: 15px;
      margin-top: 0.4em;
  }
}

.notification-ui_dd {
  font-size: 0.9rem!important;
  text-align: center!important;
  padding: 1em;
  padding-top: 2.5;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.16);
  box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.16);
  border: 0;
  left: -20em;
  margin-right: 500em;
}

@media (min-width: 900px) {
  .notification-ui_dd {
      min-width: 2em;
      position: absolute;
      left: -9.5em;
      margin-top: 10px;
  }
}





.notification-ui_dd:after {
  content: "";
  position: absolute;
  top: -30px;
  left: calc(50% - 7px);
  border-top: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #179a6a;
  border-left: 15px solid transparent;
}


.notification-list--unread {
  position: relative;
}


.notification-list .notification-list_detail p {
  border-bottom: solid;
  line-height: 1.2;
  padding-bottom:1em;
}


.dropdown-menu {
  padding-bottom: 0;
}
.dropdown-item:hover{
  background-color:  #199969!important;
}


.notif-links:hover {
  color: white;
  opacity: 0.6;
}
