
// les handles
.noUi-handle{
  background-color:#cac6e8;
  border-radius: 50%;
}
// barre gauche/droite
.noUi-base{
  background: linear-gradient(#E683FC, #c101ec);
  width: 9em;
}

// barre milieu
.noUi-connect
{background-color: #FFFFFF
  ;
}

// range

.noUi-tooltip {
  background: transparent;
  border: none;
  font-size: 0.5rem;
  color: white;
  padding: 0;

}

.noUi-handle:before {
  content: none;
}
.noUi-handle:after {
  content: none;
}


.noUi-target {
  width: 9em;
  margin: auto;
}
.noUi-horizontal {
  height: 8px;
}


.noUi-horizontal .noUi-tooltip {
  left: 40%;
  margin-top: 10em;
}

.noUi-connects {

}

.pricing-filter {
  width: 10rem;
  height: 100%;
}

.noUi-touch-area{
  width: 80%;
}

.filter-container{
  .difficulty-box {

    border: #6F42C1 solid 1px!important;
  }
}

.noUi-horizontal .noUi-handle {
  height: 2em;
  width: 2em;
  right: -17px;
   top: -12px;
}

.noUi-handle {
  border-width: 0;
  box-shadow: none;
}

.index_container {
  align-items: start;
}
