// les handles
.noUi-handle{
  background-color:rgb(147, 39, 169);
  border-radius: 20%;
}
// barre gauche/droite
.noUi-base{
  background: linear-gradient(#E683FC, #c101ec);
}

// barre milieu
.noUi-connect
{background-color: #E683FC;}
